# Obsidian metadata
.obsidian/workspace
.obsidian/workspace.json
.obsidian/cache/
.obsidian/indexed
.obsidian/backups/

# OS metadata
.DS_Store

# Temporary files
*.tmp
~$*

# Quartz specific overrides
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
replit.nix
